<table>
  <tbody>
    <%= form_with model:[post, post_comment], url: user_post_post_comments_path(post), local: false do |f| %>
      <tr>
        <td>
          <div class="form-group mb-1 ">
            <%= f.text_area :comment, placeholder: "コメントをここに", class: "form-control comment-textarea" ,rows: '3', cols: '50'%>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <%= f.submit "送信" , class: " mb-3 btn btn-primary" %>
        </td>
      </tr>
      <% end %>
  </tbody>
</table>