<%= form_with model:[post, post_comment], url: user_post_post_comments_path(post), local: false do |f| %>
  <div class="form-group">
   <%= f.text_area :comment, placeholder: "コメントをここに", class: "form-control comment-textarea" %>
     <%= f.submit "送信" , class: " m-1 btn btn-primary btn-sm" %>
  </div>
<% end %>
 