<table>
  <tbody>
    <% post.post_comments.each do |post_comment| %>
      <tr>
        <td>
          <strong><%= post_comment.user.last_name %>さん</strong>
          </td>
          </tr>
        <tr>
        <td>
          <%= post_comment.comment %>
        </td>
        <td>
          <% if post_comment.user.id == current_user.id %>
            <%= link_to "削除",user_post_post_comment_path(post, post_comment), method: :delete, remote: true, class: "btn btn-danger" %>
              <% end %>
        </td>
      </tr>
      <% end %>
  </tbody>
</table>