<%= stylesheet_link_tag 'admin/homes' %>

<h5>まちコミ・管理者チュートリアル</h5>

<div  class="top-contents">
<div class="img-box1">

<%= image_tag 'pf.admin.jpg', size: '600x300' %>
</div>
<div class="img-box2">
<%= image_tag 'pf.admin2.jpg', size: '600x300' %>

</div>
</div>