@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@500&display=swap');

.new-contents{
    width: 750px;
    margin: 0 auto;
    padding-top: 20px;
}

.field{
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    color: #8B0000;
    font-family: 'Kiwi Maru', serif;
    
}
h4{
    padding-top: 35px;
    margin-bottom: 30px;
    text-align: center;
    font-family: 'Kiwi Maru', serif;
    
}

.actions{
    padding-top: 20px;
    margin : 15px;
    text-align: center;
    font-family: 'Kiwi Maru', serif;
}