h4{
  padding-top: 35px;
  margin-bottom: 30px;
  text-align: center;
  color: #FFD700;
  font-family: 'Kiwi Maru', serif;
}

.new-contents{
  width: 800px;
  padding-top: 30px;
  margin: 0 auto;
}

.field-1{
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  color: #8B0000;
  font-family: 'Kiwi Maru', serif;
}

.label{
  width: 150px;
}

.form-1{
  width: 350px;
}

.index-contents{
  width: 850px;
  margin: 0 auto;
}

.table{
  background-color: #ffffff;
}

.thead{
  background-color: #000080;
}