h5{
  padding-top: 35px;
  margin-bottom: 30px;
  text-align: center;
  color: #FFD700;
  font-family: 'Hachi Maru Pop', cursive;
}

.top-contents{
  width: 960px;
  margin: 0 auto;
}

.img-box1{
  padding-top: 30px;
  text-align: center;
}

.img-box2,.img-box3{
  text-align: center;
}

