<div class="container mt-3 pb-3 col-7 mr-auto">
  <%= month_calendar events: @events do |date, events| %>
    <%= date.day %>
      <% events.each do |event| %>
        <div>
          <%= event.title %>
        </div>
        <% end %>
          <% end %>
</div>