<%= stylesheet_link_tag 'user/homes' %>

<h5>-- まちコミ・ユーザーチュートリアル --</h5>
<div  class="top-contents">
 <div class="img-box"></div>
 <div class="img-box"></div>
 <div class="img-box"></div>
 <div class="img-box"></div>
 <div class="img-box"></div>
 <div class="img-box"></div>
 <div class="img-box"></div>
</div>
