/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *= require simple_calendar
 *= require_self
 */
 
 
 header{
    width: 100%;
    height: 70px;
    z-index: 1000;
    background-color: #20B2AA;
    position: fixed;
    top:0;
    
}

body{
 padding-top :45px;
 background-color :#7B68EE;
}

.container{
    width: 1000px;
    margin: 0 auto;
}

.field_with_errors {
  display: contents;
}

.notice {
   font-size: 15px;
   color :#ffffff;
   text-align: center;
   font-family: 'Kosugi Maru', sans-serif;
 }
 
.navbar-nav{
   margin-left : auto;
   line-height: 70px;
   
}
.nav-list{
   margin-left :7px;
   font-size: 14px;
  
}

a{
  color: #FFFF00;
}



