h4{
  padding-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  color: #FFD700;
  font-size: 40px;
  font-family: 'Hachi Maru Pop', cursive;
}

.logo-content,.field{
  display: flex;
  justify-content: center;
}

.form{
  width: 120px;
  margin: 0 7px 10px 0;
}