@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Hachi+Maru+Pop&display=swap');

h4{
   padding-top: 45px;
   margin-bottom: 20px;
   text-align: center;
   color: #FFD700;
   font-size: 40px;
   font-family: 'Hachi Maru Pop', cursive;
   
}
