<% visitor = notification.visitor %>
  <% visited = notification.visited %>
    <li class="list-group-item">
      <% case notification.action %>
      <% when 'post' then %>
        <h5>うちの子探してます！！より新着投稿があります</h5>
        <p><%= notification.post.title%></p>
      <% end %>
        
   </li>
   
   
   <p class="n-time"></p><%= time_ago_in_words(notification.created_at).upcase %>前</p>