<div class="container col-md-8 mt-4 mb-5">
<h4 class="mb-5 text-center">通知一覧</h4>
<div class="common-contents">
  <div class="posts">
    <% if @notifications.exists? %>
    <ul class="allnotifications-list">
      <%= render @notifications %>
      <%= paginate @notifications %>
    </ul>
    <% else %>
    <h5 class="allnotifications-no">通知はありません</h5>
    <% end %>
  </div>
</div>
</div>


  
    