h4{
  padding-top: 25px;
  margin-bottom: 30px;
  text-align: center;
  color: #FFD700;
  font-family: 'Kiwi Maru', serif;
}

h5{
  padding: 20px;
  text-align : center;
  color: #FFD700;
  font-family: 'Hachi Maru Pop', cursive;
}

p{
  font-size: 13px;
  color: #000080;
  font-family: 'Kiwi Maru', serif;
}

.top-contents{
  width: 960px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.img-box:nth-child(odd) {
  margin-right: 20px;
}

.img-box {
  width: 460px;
  height: 270px;
  background-size: cover;
  background-position: center;
  margin-bottom: 10px;
}

.img-box:nth-child(1) {
  background-image: url(img/user1.jpg);
}

.img-box:nth-child(2) {
  background-image: url(img/user2.jpg);
}

.img-box:nth-child(3) {
  background-image: url(img/user3.jpg);
}

.img-box:nth-child(4) {
  background-image: url(img/user4.jpg);
}

.img-box:nth-child(5) {
  background-image: url(img/user5.jpg);
}

.img-box:nth-child(6) {
  background-image: url(img/user6.jpg);
}

.img-box:nth-child(7) {
  background-image: url(img/user7.jpg);
}

.about-contents{
  display: flex;
}

.left-contents{
  width: 630px;
  justify-content: center;
}

.simple-calendar table tbody{ 
  background-color: white; 
}

.wday-0 {
  background: #ffeaea;
  color: #ff505c;
}
  
.wday-6 {
  background: #d4ebff;
  color: #5984dc;
}

.title-text{
  font-size: 11px;
  color: #000080;
  font-family: 'Kiwi Maru', serif;
}

thead{
  background-color: blueviolet;
}

.right-contents{
  width: 370px;
  margin-left: 20px;
  text-align: center;
}