h4{ 
  padding-top: 20px;
  margin-bottom: 30px;
  text-align: center;
  color: #FFD700;
  font-family: 'Kiwi Maru', serif;
}

h5{
  font-size: 18px;
  text-align: center;
  color: #191970;
  font-family: 'Kiwi Maru', serif;
}

h6{
  font-size: 15px;
  color: #191970;
  font-family: 'Kiwi Maru', serif;
}

p{
  font-size: 18px;
  color: #191970;
  font-family: 'Kiwi Maru', serif;
}

.notifications-contents{
  width: 730px;
  margin: 0 auto;
}