@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@500&display=swap');

h4{ 
    padding-top: 20px;
    margin-bottom: 30px;
    text-align: center;
    color: #FFD700;
    font-family: 'Kiwi Maru', serif;
}

h5{
    text-align: center; 
    font-family: 'Kiwi Maru', serif;
}

p{ 
    font-size: 20px;
    color: #FFD700;
    font-family: 'Kiwi Maru', serif;
}


.actions{
    text-align: left;
    color: #8B0000;
    font-family: 'Kiwi Maru', serif;   
}
.new-contents{
   width: 920px;
   padding-top: 25px;
   margin: 0 auto;
 }
 
.field-1{
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    color: #8B0000;
    font-family: 'Kiwi Maru', serif;
}

.label{
    width: 150px;
}

.form-1{
    width: 300px;
}

.top-contents{
   width: 920px;
   display: flex;

}

.input-group{
    display: flex;
    padding-top: 20px;
 }

.search_field{
  width: 200px;  
}

.btn-wrapper{
   width: 150px;
   padding-top: 20px;
}

.index-contents{
   width: 920px;
   margin: 0 auto;
   display: flex;
   flex-wrap: wrap;
}

.post-box{
  width: 400px;
  margin: 0 auto;
  text-align: center;
 
}

.show-contents{
  width: 960px;
  display: flex;
  margin: 0 auto;
}

.left-contents{
  width: 450px;
}

.right-contents{
  width: 470px;    
}

.show-img{
  text-align: center;
}

.table-item{
table-layout: fixed;
}

th{
  padding: 3px 0 0 85px;
  font-size: 17px;
  color: #8B0000;
  font-family: 'Kiwi Maru', serif; 
}

td{
  width: 350px;
  padding-left: 80px;
  word-break: break-word;
  font-size: 15px;
  font-family: 'Kiwi Maru', serif;
  
}

.pagenate{
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
  color: #8B0000;
}

.actions{
    padding: 20px 0;
    display: flex;
    justify-content: center;
    color: #8B0000;
    font-family: 'Kiwi Maru', serif;
}