h4{ 
  padding-top: 10px;
  margin-bottom: 20px;
  text-align: center;
  color: #FFD700;
  font-family: 'Kiwi Maru', serif;
}

h5{
  text-align: center; 
  font-family: 'Kiwi Maru', serif;
}

p{
  font-size: 13px;
  font-family: 'Kiwi Maru', serif;
}

.new-contents{
  width: 920px;
  padding-top: 25px;
  margin: 0 auto;
}
 
.field-1{
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  color: #8B0000;
  font-family: 'Kiwi Maru', serif;
}

.label,.btn-wrapper{
  width: 150px;
}

.form-1{
  width: 300px;
}

.top-contents{
  display: flex;
  justify-content: center;
}

.search_field_wrapper {
  display: flex;
  margin-right: 10px;
}

.search_field{
  width: 200px;
  margin-right: 5px;
}

.index-contents{
  width: 700px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.post-box{
  width: 350px;
  margin-bottom: 15px;
  text-align: center;
}

.show-contents{
  width: 900px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.left-contents{
  width: 380px;
}

.show-img{
  text-align: center;
}

.table-item{
  table-layout: fixed;
}

th{
  padding-left: 58px;
  font-size: 17px;
  color: #8B0000;
  font-family: 'Kiwi Maru', serif; 
}

td{
  padding-left: 58px;
  word-break: break-word;
  font-size: 15px;
  font-family: 'Kiwi Maru', serif;
}

.right-contents{
  width: 400px;
}

.comments-form{
  padding-left: 30px;
}

.form-group{
  width: 300px;
  font-family: 'Kiwi Maru', serif; 
}

.card{
  width: 300px;
  margin-bottom: 2px;
}
